<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Minor Project</title>
</head>

<body style="background-color:rgb(180,180,180)">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                </li>
            </ul>
        </div>
    </nav>
    <img src="{{url_for("static",filename="image/machine.gif")}}" width="1350px" height="300px">

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Project Name</th>
      <th scope="col">Deployment Link</th>
      <th scope="col">Github Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Decision_Tree_Experiment Social_Ads_datase</th>
      <td><a href="https://mitulujwal-decision-tree-app-dnt6ur.streamlitapp.com/" target="_blank">https://mitulujwal-decision-tree-app-dnt6ur.streamlitapp.com/</a></td>
      <td><a href="https://github.com/Mitulujwal/Decision_Tree.git" target="_blank">https://github.com/Mitulujwal/Decision_Tree.git</a></td>
    </tr>
    <tr>
      <th scope="row">SVM and Random Forest Experiment</th>
      <td><a href="https://mitulujwal-svm-internship-app-a5o3g6.streamlitapp.com/" target="_blank">https://mitulujwal-svm-internship-app-a5o3g6.streamlitapp.com/</a></td>
      <td><a href="https://github.com/Mitulujwal/SVM_internship.git" target="_blank">https://github.com/Mitulujwal/SVM_internship.git</a></td>
      
    </tr>
    <tr>
     <th scope="row">NLP Sentiment analysis Restaurant Review</th>
      <td><a href="https:https://mitulujwal-nlp-internship-app-70x5hk.streamlitapp.com/" target="_blank">https://mitulujwal-nlp-internship-app-70x5hk.streamlitapp.com/</a></td>
      <td><a href="https://github.com/Mitulujwal/NLP_Assignment.git" target="_blank">https://github.com/Mitulujwal/NLP_Assignment.git</a></td>
    </tr>
      <tr>
     <th scope="row">House Price Prediction</th>
      <td><a href="https://mitupiethouseprice.herokuapp.com/" target="_blank">https://mitupiethouseprice.herokuapp.com/</a></td>
      <td><a href="https://github.com/Mitulujwal/House_Price.git" target="_blank">https://github.com/Mitulujwal/House_Price.git</a></td>
    </tr>
     <tr>
     <th scope="row">Digit Recognition</th>
      <td><a href="https://mitulpietdeeplearning.herokuapp.com/" target="_blank">https://mitulpietdeeplearning.herokuapp.com/</a></td>
      <td><a href="https://github.com/Mitulujwal/Deeplieraning_internship.git" target="_blank">https://github.com/Mitulujwal/Deeplieraning_internship.git</a></td>
    </tr>
    <tr>
     <th scope="row">Cat Dog Classification</th>
      <td><a href="https://mitulpietdeeplearning.herokuapp.com/" target="_blank">https://mitulpietdeeplearning.herokuapp.com/</a></td>
      <td><a href="https://github.com/Mitulujwal/Deeplieraning_internship.git" target="_blank">https://github.com/Mitulujwal/Deeplieraning_internship.git</a></td>
    </tr>
    <tr>
     <th scope="row">Placement Prediction Project</th>
      <td><a href="https://mitulpietplacement.herokuapp.com/" target="_blank">https://mitulpietplacement.herokuapp.com/</a></td>
      <td><a href="https://github.com/Mitulujwal/Placement_Assignmewnt.git" target="_blank">https://github.com/Mitulujwal/Placement_Assignmewnt.git</a></td>
                
    </td>
    <tr>
      <th scope="row">Face Recognition</th></td>
      <td><a href="https://mitulpietfacerecognition.herokuapp.com/" target="_blank">https://mitulpietfacerecognition.herokuapp.com/</a></td>
      <td><a href="https://github.com/Mitulujwal/face_recognition.git" target="_blank">https://github.com/Mitulujwal/face_recognition.git</a></td>
                
    </td>
 <tr>
      <th scope="row">Churn Model Prediction</th></td>
      <td><a href="https://mitulpietchurnmodeling.herokuapp.com/" target="_blank">https://mitulpietchurnmodeling.herokuapp.com/</a></td>
      <td><a href="https://github.com/Mitulujwal/Churn_modelling.git" target="_blank">https://github.com/Mitulujwal/Churn_modelling.git</a></td>
                
    </td>

  </tbody>
</table>

</body>

</html>